// === MAX-WIDTH 1366 ===
@media (max-width: 1366px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }

  .hero__title {
    margin-bottom: 25px;
    font-size: 75px;
    line-height: 90px;
  }

  .hero__image {
    width: 80%;
  }

  .hero__text {
    margin: 15px 0 25px;
  }

  .title {
    padding-top: 70px;
  }

  .products__slider-box {
    padding-top: 0;
  }

  .products__slider-text {
    top: -105px;
    right: 0;
    bottom: auto;
    left: auto;
  }

  .slider-btn {
    bottom: -48px;
  }

  .slider-left {
    right: 62px;
  }

  .benefits__title {
    padding-top: 15px;
    margin-bottom: 50px;
  }

  .benefits__item {
    margin-bottom: 80px;
  }

  .benefits__item:nth-child(3)::after {
    top: -62px;
    right: -39px;
  }
  .benefits {
    .scroll-down {
      display: none;
    }

    .page-section__wrapper {
      padding: 60px 0 0;
    }
  }

  .specification {
    .page-section__wrapper {
      padding: 34px 0 0;
    }
  }

  .specification__title {
    padding: 40px 0 0 0;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .specification__inner {
    padding-left: 0;
  }

  .specification__box-2 {
    margin-top: 77px;
  }

  .specification__box-4 {
    margin-top: 100px;
  }
}
// === / MAX-WIDTH 1366 ===

// === MAX-WIDTH 1280 ===
@media (max-width: 1280px) {
  .benefits__item {
    width: 45%;
  }

  .benefits__item:first-child::before {
    right: -69px;
    bottom: 75px;
  }

  .benefits__item:nth-child(3)::before {
    top: 59px;
    right: -91px;
  }

  .specification__item-img {
    margin-left: 5%;
    width: 90%;
  }
}
// === / MAX-WIDTH 1280 ===

// ===  MAX-WIDTH 1180 ===
@media (max-width: 1180px) {
  .specification__box-2::before {
    right: -274px;
  }

  .specification__box-1::before {
    right: -106px;
  }
}
// === / MAX-WIDTH 1180 ===

// === MAX-WIDTH 1100 ===
@media (max-width: 1100px) {
  .menu {
    order: 1;
  }

  .menu__list {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 90px 0 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba($color-black, 0.9);
    transform: translateY(-100%);
    transition: $transition-fast;
    overflow: auto;
  }

  .menu__list--active {
    transform: translateY(0);
    transition: $transition-regular;
  }

  .menu__list-item {
    margin-bottom: 35px;
    &:first-child {
      margin-top: auto;
    }
  }

  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }

  .menu__button {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .menu__button::before,
  .menu__button::after {
    content: "";
    margin-bottom: 4px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #e0e0e0;
    transition: $transition-fast;
  }

  .menu__button::after {
    margin-bottom: 0;
    margin-left: auto;
    width: 16px;
  }

  .menu__button-line {
    margin-bottom: 4px;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #e0e0e0;
    transition: opacity 0.7s;
  }

  .menu__button.menu__button--active {
    .menu__button-line {
      opacity: 0;
      transition: opacity 0.02s;
    }

    &::before {
      transform: translateY(6px) rotate(135deg);
    }

    &::after {
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
    }
  }

  .menu__list-link,
  .menu__list-phone {
    display: block;
  }

  .menu__list-phone {
    position: relative;
    margin: auto 0;
    padding-top: 33px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: -24px;
      border-top: 1px solid rgba($color-white, 0.24);
    }
  }

  .header {
    top: 0;
    background-color: rgba($color-black, 0.5);
    padding: 20px 0;
  }

  .header__phone {
    display: none;
  }

  .header__button {
    margin-right: 0;
  }

  .products__text {
    padding-right: 20px;
  }

  .products__slider-box {
    padding-right: 20px;
  }

  .benefits__item:first-child::before,
  .benefits__item:nth-child(3)::after,
  .benefits__item:nth-child(3)::before {
    display: none;
  }

  .benefits__items {
    display: block;
  }

  .benefits__info {
    width: 35%;
  }

  .benefits__item {
    margin-bottom: 40px;
    width: 100%;
  }

  .benefits__item:nth-child(even) {
    margin-left: 200px;
    transform: translateY(0);
  }

  .specification__box-1::before {
    top: 12px;
    right: -154px;
  }

  .specification__box-2::before {
    top: -61px;
    right: -222px;
    height: 80px;
  }

  .specification__box-3::before {
    width: 199px;
    left: -228px;
  }

  .specification__box-4::before {
    top: -71px;
    left: -125px;
    width: 110px;
  }
}
// === / MAX-WIDTH 1100 ===

// === MAX-WIDTH 1024 ===
@media (max-width: 1024px) {
  .title {
    margin-bottom: 35px;
    padding-top: 50px;
    font-size: 35px;
    line-height: 42px;
  }

  .products__slider-text {
    top: -97px;
    right: 2px;
    font-size: 20px;
    line-height: 22px;
  }

  .specification__box-1::before,
  .specification__box-2::before,
  .specification__box-3::before,
  .specification__box-4::before {
    display: none;
  }
}
// === / MAX-WIDTH 1024 ===

// === MAX-WIDTH 940 ===
@media (max-width: 940px) {
  .products__inner {
    display: block;
  }

  .products__text {
    margin-bottom: 140px;
    padding-right: 0;
    max-width: 100%;
  }

  .products__slider {
    margin-left: auto;
  }

  .products__slider-box {
    padding-bottom: 80px;
  }
}
// === / MAX-WIDTH 940 ===

// === MAX-WIDTH 877 ===
@media (max-width: 877px) {
  .specification__box-2, 
  .specification__box-4 {
    margin-top: 50px;
  }
}
// === / MAX-WIDTH 877 ===

// === MAX-WIDTH 787 ===
@media (max-width: 787px) {
  .benefits__info {
    width: 100%;
  }

  .benefits__items {
    padding-left: 0;
  }

  .benefits__item:nth-child(even),
  .benefits__item:nth-child(3) {
    margin-left: 0;
  }

  .specification__inner{
    display: block;
  }

  .specification__box{
    width: 100%;
  }

    .specification__box-2, 
  .specification__box-4 {
    margin-top: 25px;
  }

.specification__item--center {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
}

  .specification__item-img {
    margin: 9% auto 0;
}
}
// === / MAX-WIDTH 787 ===

// === MAX-WIDTH 680 ===
@media (max-width: 680px) {
  .products__inner {
    padding-left: 0;
  }

  .products__text p {
    margin-bottom: 10px;
  }

  .products__text {
    margin-bottom: 100px;
  }

  .products__slider {
    max-width: 100%;

    img {
      width: 100%;
    }

    &::before {
      width: 100%;
      height: 100%;
    }
  }

  .products__slider-box {
    padding-bottom: 60px;
  }

  .title {
    margin-bottom: 15px;
    padding-top: 40px;
    padding-left: 0;
    font-size: 26px;
    line-height: 28px;
  }
}
// === / MAX-WIDTH 680 ===

// === MAX-WIDTH 540 ===
@media (max-width: 540px) {
  .hero__title {
    display: none;
  }

  .hero__text {
    margin: 15px 0 30%;
  }

  .scroll-down {
    padding: 13px 0;
  }

  .benefits__item {
    display: block;
  }

  .benefits__img {
    margin-right: 0;
    img {
      display: block;
      margin: 25px auto 25px 0;
      width: 80%;
    }
  }

  .benefits__img::before {
    display: none;
  }

  .benefits__num {
    display: none;
  }
}
// === / MAX-WIDTH 540 ===

// === MAX-WIDTH 375 ===
@media (max-width: 375px) {
  .benefits__info {
    width: 94%;
  }

  .benefits__img img {
    width: 90%;
  }
}
// === / MAX-WIDTH 375 ===

// === MAX-HEIGHT 375 ===
@media (max-height: 375px) {
  .menu__list-phone {
    padding: 15px 0;
  }
}
// === / MAX-HEIGHT 375 ===

// === MAX-HEIGHT 340 ===
@media (max-height: 340px) {
  .menu__list-item {
    margin-bottom: 22px;
  }
}
// === / MAX-HEIGHT 340 ===
