@import "fonts";
@import "libs";
@import "vars";
@import "global";
// ===
// === HEADER ===
.header {
  z-index: 10;
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
  }

  &__button {
    margin-right: 8px;
    border: 1px solid $color-white;
    border-radius: 3px;
    padding: 7px 28px 6px;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 17px;
    color: $color-white;
    text-transform: uppercase;
    background-color: transparent;
    transition: $transition-fast;
    cursor: pointer;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
  }
}
// === / HEADER ===

// === HERO ===
.hero {
  background-image: url("../images/hero-bg.jpg");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000 87.89%
    );
    opacity: 0.4;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
  }

  &__image {
    max-width: 650px;
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }

  &__social-item {
    margin: 0 25px;
    display: inline-block;

    path {
      transition: $transition-fast;
      cursor: pointer;
    }

    &:hover {
      path {
        fill-opacity: 1;
      }
    }
  }
}
// === / HERO ===

// === PRODUCTS ===
.products {
  &__title {
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }

  &__text {
    max-width: 440px;
    line-height: 25px;

    p {
      margin-bottom: 35px;
    }
  }

  &__slider-box {
    position: relative;
    padding-top: 110px;
  }

  &__slider-text {
    z-index: 5;
    position: absolute;
    bottom: 10px;
    left: -253px;
    max-width: 285px;
    @extend %ubuntu-medium;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }

  &__slider {
    max-width: 560px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -17px;
      border: 4px solid $color-white;
      width: 100%;
      height: 100%;
    }
  }
}

.slider-btn {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: -50px;
  border: none;
  padding: 16px 26px;
  background-color: $color-white;
  cursor: pointer;
  outline: transparent;

  path {
    stroke: #000;
  }

  &.slick-disabled {
    background-color: $color-black;

    path {
      stroke: $color-white;
    }
  }
}

.slider-left {
  right: 60px;
}
// === / PRODUCTS ===

// === BENEFITS ===
.benefits {
  &__title {
  }

  &__items {
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;

    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
  }

  &__item-1,
  &__item-3 {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &__item-1 {
    &::before {
      right: -57px;
      bottom: 73px;
      width: 248px;
      height: 48px;
      background-image: url("../images/dotted-line-1.svg");
    }
  }

  &__item-3 {
    &::before {
      background-image: url("../images/dotted-line-3.svg");
      top: 44px;
      right: -85px;
      width: 284px;
      height: 43px;
    }

    &::after {
      background-image: url("../images/dotted-line-2.svg");
      top: -70px;
      right: -60px;
      width: 466px;
      height: 66px;
    }
  }

  &__num {
    margin-right: 10px;
    @extend %ubuntu-bold;
    font-size: 36px;
    line-height: 41px;
  }

  &__img {
    position: relative;
    margin-right: 32px;
    display: block;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -12px;
      right: -12px;
      border: 2px solid $color-white;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    width: 300px;
  }

  &__info-title {
    margin-bottom: 10px;
    width: 123px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__info-text {
    font-size: 15px;
    line-height: 18px;
  }
}
// === / BENEFITS ===

@import "media";
