@import "fonts";
@import "libs";
@import "vars";
@import "global";
// ===
// === HEADER ===
.header {
  z-index: 10;
  position: fixed;
  top: 20px;
  right: 0;
  left: 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
  }

  &__button {
    margin-right: 8px;
    border: 1px solid $color-white;
    border-radius: 3px;
    padding: 7px 28px 6px;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 17px;
    color: $color-white;
    text-transform: uppercase;
    background-color: transparent;
    transition: $transition-fast;
    cursor: pointer;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  &__phone {
    @extend %ubuntu-bold;
    font-size: 16px;
    line-height: 18px;
  }
}

.menu {
  &__list-item {
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    transition: $transition-regular;

    & + & {
      margin-left: 20px;
    }

    &.active {
    border-bottom: 1px solid $color-white;
    }
  }


  &__list-phone {
    display: none;
  }

  &__button {
    display: none;
  }
}
// === / HEADER ===

// === HERO ===
.hero {
  background-image: url("../images/hero-bg.jpg");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000 87.89%
    );
    opacity: 0.4;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;
    @extend %sf-semibold;
    font-size: 96px;
    line-height: 115px;
  }

  &__image {
    max-width: 650px;
  }

  &__text {
    margin: 25px 0 35px;
    max-width: 325px;
  }

  &__social-item {
    margin: 0 25px;
    display: inline-block;

    path {
      transition: $transition-fast;
      cursor: pointer;
    }

    &:hover {
      path {
        fill-opacity: 1;
      }
    }
  }
}
// === / HERO ===

// === PRODUCTS ===
.products {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }

  &__text {
    max-width: 440px;
    line-height: 25px;

    p {
      margin-bottom: 35px;
    }
  }

  &__slider-box {
    position: relative;
    padding-top: 110px;
  }

  &__slider-text {
    z-index: 5;
    position: absolute;
    bottom: 10px;
    left: -253px;
    max-width: 285px;
    @extend %ubuntu-medium;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
  }

  &__slider {
    max-width: 560px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: -17px;
      border: 4px solid $color-white;
      width: 100%;
      height: 100%;
    }
  }
}

.slider-btn {
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: -50px;
  border: none;
  padding: 16px 26px;
  background-color: $color-white;
  cursor: pointer;
  outline: transparent;

  path {
    stroke: #000;
  }

  &.slick-disabled {
    background-color: $color-black;

    path {
      stroke: $color-white;
    }
  }
}

.slider-left {
  right: 60px;
}
// === / PRODUCTS ===

// === BENEFITS ===
.benefits {
  &__items {
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;

    // nth-child не везде уместно использовать, но именно в этой секции самый раз! (пригодится для бэкенда)
    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
    &:nth-child(3) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 60px;
    }

    &:first-child,
    &:nth-child(3) {
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }

    &:first-child {
      &::before {
        right: -53px;
        bottom: 72px;
        width: 248px;
        height: 48px;
        background-image: url("../images/decor/dotted-line-1.svg");
      }
    }

    &:nth-child(3) {
      &::before {
        background-image: url("../images/decor/dotted-line-3.svg");
        top: 39px;
        right: -78px;
        width: 257px;
        height: 43px;
      }

      &::after {
        background-image: url("../images/decor/dotted-line-2.svg");
        top: -68px;
        right: -29px;
        width: 466px;
        height: 67px;
      }
    }
  }

  &__num {
    margin-right: 10px;
    @extend %ubuntu-bold;
    font-size: 36px;
    line-height: 41px;
  }

  &__img {
    position: relative;
    margin-right: 32px;
    display: block;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -12px;
      right: -12px;
      border: 2px solid $color-white;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    width: 300px;
  }

  &__info-title {
    margin-bottom: 10px;
    width: 123px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__info-text {
    font-size: 15px;
    line-height: 18px;
  }
}
// === / BENEFITS ===

// === SPECIFICATION ===
.specification {
  &__inner {
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item--center {
    margin-right: -2px;
    margin-left: -20px;
  }

  &__box {
    position: relative;
    margin-top: 20px;
    width: 280px;
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  &__box-1,
  &__box-3 {
    margin-top: 60px;
  }

  &__box-1::before {
    background-image: url("../images/decor/pointer-1.svg");
    top: 14px;
    right: -110px;
    width: 230px;
    height: 115px;
  }

  &__box-2::before {
    background-image: url("../images/decor/pointer-2.svg");
    top: -67px;
    right: -314px;
    width: 347px;
    height: 83px;
  }

  &__box-3::before {
    background-image: url("../images/decor/pointer-3.svg");
    top: 13px;
    left: -277px;
    width: 259px;
    height: 105px;
  }

  &__box-4::before {
    background-image: url("../images/decor/pointer-4.svg");
    top: -75px;
    left: -142px;
    width: 125px;
    height: 91px;
  }

  &__box-2 {
    margin-top: 100px;
  }

  &__box-4 {
    margin-top: 120px;
  }

  &__box-title {
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 28px;
  }

  &__box-text {
    font-size: 15px;
    line-height: 19px;
  }
}
// === / SPECIFICATION ===

// === QUESTIONS ===
.questions {
  &__items {
    padding: 0 0 15px 25px;
    max-width: 757px;
  }

  &__item {
    position: relative;
    max-width: 690px;
    background-color: rgba(#000, 0.25);

    &:nth-child(3)::after {
      content: "";
      position: absolute;
      background-image: url("../images/mavic-2-pro-small-half.png");
      width: 319px;
      height: 125px;
      top: -32px;
      right: -391px;
    }
  }

  &__item-title {
    position: relative;
    margin-bottom: 4px;
    padding: 20px 10px 20px 40px;
    @extend %ubuntu-medium;
    font-size: 21px;
    line-height: 28px;
    color: rgba(#fff, 0.8);
    cursor: pointer;

    &::after {
      content: url("../images/icons/arrow-accordion.svg");
      position: absolute;
      top: 0;
      right: -72px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 72px;
      height: 67px;
      background-color: $color-white;
    }
  }
  // FIXME: доработать плавность открытия/закрытия

  &__item-text {
    display: none;
    margin: 0;
    padding: 0 12px 75px 50px;
    font-size: 15px;
    line-height: 22px;
  }

  &__item.questions__item--active {
    .questions__item-title::after {
      transform: rotate(180deg);
    }

    .questions__item-text {
      display: block;
      margin-bottom: 4px;
    }
  }
}
// === / QUESTIONS ===

// === CONTACTS ===
.contacts {

  &__inner {
    display: flex;
  }

  &__info {
    margin: 0 60px 0 55px;
    width: 240px;
  }

  &__info-box {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 19px;
  }

  &__info-title {
    margin: 0 0 13px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__info-phone {
    margin-bottom: 5px;
  }

  &__info-email {
    border-bottom: 1px solid transparent;
    transition: $transition-fast;

    &:hover {
      border-bottom: 1px solid $color-white;
    }
  }

  &__form {
    margin-right: 106px;
    width: 570px;
  }

  &__form-title {
    margin: 0 0 13px;
    @extend %ubuntu-bold;
    font-size: 21px;
    line-height: 24px;
  }

  &__form-text {
    margin: 0 0 12px;
    font-size: 15px;
    line-height: 19px;
  }

  &__form-inputs-box {
    display: flex;
    justify-content: space-between;
  }

  &__form-input,
  &__form-textarea {
    border: none;
    padding: 15px;
    @extend %ubuntu-medium;
    font-size: 15px;
    line-height: 17px;
    color: $color-white;
    background-color: rgba(#000, 0.5);

    &::placeholder {
      color: rgba(#fff, 0.4);
    }
  }

  &__form-input {
    margin-bottom: 10px;
    width: 49%;
  }

  &__form-textarea {
    margin-bottom: 20px;
    width: 100%;
    min-height: 144px;
    resize: none;
  }

  &__form-button {
    border: 1px solid $color-white;
    border-radius: 2px;
    padding: 9px 15px;
    @extend %ubuntu-bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    background-color: rgba(#171a1c, 0.72);
    transition: $transition-fast;
    cursor: pointer;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__social-item {
    & + & {
      margin-top: 25px;
    }

    svg {
      opacity: .5;
      transition: $transition-fast;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}
// === / CONTACTS ===

// === FOOTER ===
.footer {
  position: absolute;
  right: 0;
  bottom: 32px;
  left: 0;
  
  &__copyright {
    font-size: 13px;
    line-height: 17px;
    color: rgba(#fff, 0.64);
    text-align: right;
  }
}
// === FOOTER ===

@import "media";
